@tailwind base;
@tailwind components;
@tailwind utilities;

.customInput:focus{
	outline: none;
}
.customTransition{
	animation: show 0.3s forwards;
}

@keyframes show {
	from{
		transform: translateX(60%);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}